@import 'ext/solarized-light';

.highlight {
	background-color: #f4f4f4;
	color: #aab1bf;
	max-width: 500px;
}

div.highlight {
	padding: 10px 30px;
	word-break: break-all;
}
pre.highlight, code {
	font-size: 12px;
	font-family: 'D2 coding', Consolas, monospace;
	line-height: 1.3em;
	tab-size: 4;
	white-space: pre-wrap;
}
